body{
    background: rgb(228, 232, 238);
    color: rgb(19, 18, 18);
    font-size: 15px;
font-family: monospace;
}

.logo{
    background: rgb(132, 142, 170);
    color: rgb(255, 254, 253);
    margin-top: 0px;
    height: 60px;
    width: 100%;
}
span{
    color: rgb(211, 166, 135);
}
