body{
    background: rgb(158, 205, 246);
    color: rgb(5, 7, 52);
    font-size: 15px;
font-family: monospace;
}

.logo{
    background: rgb(100, 147, 208);
    color: rgb(255, 254, 253);
    margin-top: 0px;
    height: 60px;
    width: 100%;
}
span{
    color: rgb(118, 24, 7);
}
